<div class="col-md-6 col-md-offset-3" ng-controller="entryAdminController">
  <div class="text-center btn-area">
    <p>
      <label class="btn btn-default nenu-btn-admin" ng-model="radioModel" uib-btn-radio="'userInput'" ui-sref="entryAdmin.user">User Input</label>
      <label class="btn btn-default nenu-btn-admin" ng-model="radioModel" uib-btn-radio="'userUpdate'" ui-sref="entryAdmin.userUpdate">User Update</label>
      <label class="btn btn-default nenu-btn-admin" ng-model="radioModel" uib-btn-radio="'activityInput'" ui-sref="entryAdmin.activity({user:obj})">Activity Input</label>
      <label class="btn btn-default nenu-btn-admin" ng-model="radioModel" uib-btn-radio="'activityUpdate'" ui-sref="entryAdmin.activityUpdate({user:obj})">Activity Update</label>
    </p>
  </div>
</div>
<div ui-view>
  <!-- template area -->
</div>
