<div class="col-md-6 col-md-offset-3" ng-controller="entryAdminUserUpdateController">
  <form>
    <div class="form-group" ng-show="formList.name">
      <label for="inputName">Name</label>
      <input type="name" class="form-control" id="inputName" placeholder="Name" ng-model="formList.name">
    </div>
    <div class="form-group" ng-show="formList.designation">
      <label for="inputDesignation">Designation</label>
      <input type="designation" class="form-control" id="inputDesignation" placeholder="Designation" ng-model="formList.designation">
    </div>
    <div class="form-group">
      <label for="inputEmail1">Email Address</label>
      <input type="search" class="form-control" id="inputEmail1" placeholder="Email" autofocus  ng-model="formList.email">
    </div>
    <div class="form-group">
      <label for="inputDesignation">Program</label>
      <select class="form-control" ng-model="formList.department">
        <option>AMC</option>
        <option>CBHC</option>
        <option>CDC</option>
        <option>ESD</option>
        <option>HEP</option>
        <option>HIS_eHealth</option>
        <option>HRM</option>
        <option>IFM</option>
        <option>IHSM</option>
        <option>TRD</option>
        <option>MNCAH</option>
        <option>NASP</option>
        <option>NCDC</option>
        <option>NEC</option>
        <option>NNS</option>
        <option>PLSM</option>
        <option>PMR</option>
        <option>PST</option>
        <option>TLC</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="search" class="form-control" id="inputPassword" placeholder="Password" ng-model="formList.password">
    </div>
    <div class="form-group" ng-show="formList.mobile">
      <label for="inputMobile">Modile No.</label>
      <input type="modile" class="form-control" id="inputMobile" placeholder="Modile No." ng-model="formList.mobile">
    </div>
    <div class="form-group" ng-show="formList.$picture">
      <div class="col-md-12">
        <img ng-src="data:image/jpeg;base64, {{formList.$picture}}" ng-hide="srcUrl"/>
      </div>
    </div>
    <div class="form-group" ng-show="isFileActive">
      <div class="col-md-12">
        <img ng-if="srcUrl" ng-src="{{srcUrl}}">
      </div>
      <label for="inputFile">File input</label>
      <input type="file" file-model="file" enctype="multipart/form-data">
    </div>
    <div class="form-group">
      <div class="checkbox" ng-show="isAdminFlg">
        <label><input type="checkbox" value="" ng-model="formList.adminFlg">Administer User</label>
      </div>
    </div>
    <div class="alert alert-success col-md-12" role="alert" ng-show="succesFlag">Complete update user's information</div>
    <div class="alert alert-danger col-md-12" role="alert" ng-show="errorFlag">Failure to connect server</div>
    <div class="col-md-2 col-md-offset-8">
      <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
    </div>
    <div class="col-md-2 button-list">
      <button type="submit" class="btn btn-default" ng-class="{disabled: isUpdateDisabled}" ng-disabled="isUpdateDisabled" ng-click="update()">Update</button>
    </div>
  </form>
  <table class="table table-bordered table-striped" ng-show="userList">
    <thead>
      <tr>
        <th>Name</th><th>Email Address</th><th>Program</th><th></th>
      </tr>
      <tbody>
        <tr ng-repeat="user in userList">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.department}}</td>
          <td>
            <input type="radio" name="radioList" ng-click="selectRadio($index)">
          </td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
